<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ request.session.user_name }}! </h1>
    {{ request.session.user_id }}

    <h2> Quoteable Quotes</h2>

    <h2>Your Favorite Quotes</h2>

    <div>
        <h3> Contribute a Quote:</h3>
        <form action="/user_quote" method="post"></form>
            Quoted By:
                <input type="text" name="quoted_by">
            Message:
                <input type="text" name="message" >
    </div>
</body>
</html>